apiVersion: v1
kind: Service
metadata:
  name: webapp-service
  labels:
    app: webapp
    project: k8s-simple-webapp
spec:
  type: NodePort
  selector:
    app: webapp
  ports:
  - name: http
    port: 80
    targetPort: 80
    nodePort: 30007